body{
    background-image:url("../images/background.jpg");
    /* Full height */
    height: 100vh; 
    background-attachment: fixed;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}
#nav{
    position:fixed;
    width:100%;
    height:7%;     
    padding:0;
    z-index:2;
}
#logo{
    position:absolute;
    width:15vh;
    height:auto;
    left:3vw;
    
}
#medal-icon, #crown-icon, #calendar-icon, #settings-icon, #trophy-icon{
    height:5vh;
    width:auto;
}
#wrapper{
    margin:0 auto;
    display:grid;
    grid-gap:1vw;
    grid-template-columns: 15vw repeat(3, 1fr);
    padding:1vw;
}
#sidebar{
    display:grid;
    grid-template-rows:1fr 0.66fr 0.33fr;
    position:fixed;
    top:7%;
    bottom:0;
    right:84%;
    left:0;
    background-color:#FFC400;
    opacity:1;
}

#commitments{
    text-align:center;
    width:15vw;
    height:auto;
    margin: 0 auto;
    grid-row-end:2/3;
    background-color: #FFC400;
}
.com-li {
    font-size:0.7vw !important;
}
#tips{
    font-size:1vw;
    grid-row:3/4;
    margin:1.5vh;
    background-color: #FFC400;
}
#map{   
    margin-top:7vh;
    grid-column:2/5;
    height: 600px; 
    border-radius: 0.5vw;
}
#add-button{
    position:absolute;
    top:10%;
    right:4.5%;
    height:50px;
    width:auto;
    border-style:solid;
    border-color:darkred;
    border-radius:100em;
    border-width: 1px;
}
#add{
    opacity:1;
}
#chat-icon{
    height:70px;
    width:auto;
}
#chat-icon:hover{
    animation: yourAnimation 0.3s infinite 0s linear;
}
@keyframes yourAnimation{
    0%{transform: rotate(0);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(0deg);}
    75%{transform:rotate(-5deg)}
}
.chat-animate{
    animation: slideUp 0.15s forwards 0s ease-out;
}
@keyframes slideUp{
    0%{ transform:translateY(0);} 
    100%{ transform:translateY(-500px);}
}
.chat-hide{
    animation: slideDown 0.3s forwards 0s ease;
}
@keyframes slideDown{
    0%{ transform:translateY(-500px);} 
    100%{ transform:translateY(0);}
}
#chat-div{
    position:fixed;
    bottom:-510px;
    right:6vw;
    width:400px;
    height:500px;
    background-color:whitesmoke;
    z-index:10;
    border-top-left-radius:0.5vw;
    border-top-right-radius:0.5vw;
    border-style:solid;
    border-color:lightskyblue;
    box-shadow: 8px 16px 0px 0px rgba(0,0,0,0.2);
    
}
#notification-icon{
    position:absolute;
    top:0.5vh;
    right:0;
}
#chat{
    text-align:center;
    position:fixed;
    bottom:2vh;
    right:2vw;
    opacity:1;
    z-index:1;
}
.badge{
    margin:0 0.5vw;
    border-radius: 10vw;
}
#users-div{
    font-weight:bold;
    font-size: 0.8vw;
    grid-row:1/2;
    opacity:0.95;
    background-color: #FFC400;
    border-radius:0.5vw;
    overflow:hidden;
}
#users-title{
    font-size:1.2vw;
    text-align:center;
}
#commitments-title{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 0;
    padding: .65rem;
    border-radius: 6px 6px 0 0;
    font-size:1.25vw;
    text-align:center;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: rgb(47, 180, 13);
    border-radius: 50%;
    display: inline-block;
    margin-right:10px;
}
#sessions-div{
    opacity:0.95;
    grid-column: 2/5;
    height:auto;
    background-color:whitesmoke;
    border-radius:0.5vw;
}
#sessions-title{
    font-size:2vw;
    position:relative;
    left:3vw;
}
.dropdown {
    display: inline-block;
}
#settings{
    position:absolute;
    right:5vh;
}
#calendar{
    position:absolute;
    right:14.5vh;
}
#medal{
    position:absolute;
    right:24.5vh;
}
.dropdown-content {
    display: none;
    position: absolute;
    right:-1vw;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:-1;
}
.dropdown:hover .dropdown-content {
    position: absolute;
    display: block;
    animation: FadeIn 0.15s forwards 0s ease;
}
@keyframes FadeIn{
    0%{ transform:translateX(-1vw); opacity:0;} 
    100%{ transform:translateX(0);opacity:1;}
}
.dropdown:hover {box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.add-event{
    display: none;
    margin-top:7vh;
    grid-column: 4/5;
    height: 600px;
    background-color:rgb(233, 227, 227);
    border-radius: 0.5vw;
}
#form-layout{
    
    font-weight:bold;
    width:80%;
    margin:0 auto 0;
}
.display-4{
    text-align:center;
    font-size: 1.5rem;
    background-color:rgb(204, 33, 33);
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}
 .event-animate{
     opacity:0;
     display:block;
    animation: slideLeft 0.4s forwards 0s ease;
}
@keyframes slideLeft{
   0%{ transform:translateX(10vw); opacity:0;} 
   100%{ transform:translateX(0);opacity:1;}
}
 .event-hide{
    display:none;
 }
 .close{
     position:absolute;
     right:1vw;
     top:1vw;
 }

.list-group{
    font-size: 13px;
}

/* Footer */
.section {
    padding:20px 0 0 15vw;
}
.section p{
    font-size: 0.5vw;
}
.section .section-title {
    text-align: center;
    color: #2e8eac;
    text-transform: uppercase;
}
#footer {
    background:#2e8eac;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.developer li{
	padding: 3px 0;
}
#footer ul.developer li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.developer li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.developer li a,{
	color:#ffffff;
}
#footer ul.developer li a:hover{
	color:#eeeeee;
}


.form-group {
    font-size: 1rem
}

#form-layout .form-control {
    font-size: 0.5rem;
    margin-top:0;
}

/* Amanda's Schedule CSS */

#addressForm h2, #schedule-form h2  {
    font-size: 4vw;
    line-height: 1.2;
    left: 3vw;
    /* color: #fff; */
}
#addressForm, #schedule-form {
    margin-top: 4rem;
    padding: 1rem;
    opacity: 0.95;
    /* grid-column: 2/5; */
    height: auto;
    color: #fff;
    background-color: #212529;
    border-radius: 0.5vw;
}

#schedule-form th {
    background-color: #2e8eac;
    color: #fff;
    text-align: center;
}

.form-control {
   margin: .2rem auto;
}
.btn {
    margin-top: .5rem;
}
.progress {height: 10px; width:100px;float:right}